<div class="principal">
    <h2>Bienvenido</h2>
    <p>
        Sistema de Gestión para Biblioteca Pública. Controle y administre de forma óptima y fácil el flujo de préstamos y devoluciones de Libros.
        <br>
        Esta herramienta le permitirá llevar un control completo y detallado de su Biblioteca,tendrá acceso a herramientas especiales para tareas específicas, como lo son:
        <li>
            <ul>Préstamos</ul>
            <ul>Devoluciones</ul>
            <ul>Registro de Usuarios y Libros Nuevos </ul>
            <ul>Edicion de Usuarios y Libros existentes</ul>
            <ul>Eliminar todo tipo de Registros</ul>
            <ul>Sección de Reportes de acciones en el sistema</ul>

        </li>
    </p>
</div>
